<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHuSQXLqvWzzMAtQAyrE06q23OPjsuYqk</string>
	<key>GCM_SENDER_ID</key>
	<string>353927535150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.facebookClone</string>
	<key>PROJECT_ID</key>
	<string>facebook-clone-7904e</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-clone-7904e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353927535150:ios:c324a1f47e20b1fbd29dbf</string>
</dict>
</plist>